.footer {
  background: var(--first-color);
  padding: 2.4rem 0;
  &__text {
    font-size: 1.3rem;
    color: var(--first-text-color);
    a {
      font-size: 1.3rem;
      color: var(--first-text-color);
      transition: all 0.2s ease-in-out;
      display: inline-block;
      font-weight: bold;
      &:hover,
      &:active {
        color: var(--scroll-color);

      }
    }
  }
}


.back-to-top i {
  color: var(--scroll-color);
  margin: 1rem 0 $default-font-size;
  transition: all 200ms ease;

  &:hover {
    transform: translateY(-2px);
  }
}
